


nav{
  margin-bottom: 0%;
}


h2{
  text-align: center;
  margin-top: 10%;

}

p{
  text-align: center;
  padding: 5%;
  font-weight: lighter;
  font-size: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 90px;
  grid-column-gap: 40px;
  background-color: white;
  padding: 20px;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5%;
}

.grid-container > div {
  background-color: #eeeeee;
  text-align: center;
  padding: 20px;
  font-size: 30px;

}


#book-btn{
  border-radius: 35px;
  height: 50px;
  width: 130px;
  background-color: #77a8a8;
  background-size: 20px;
  font-size: 20px;
  color: white;

}

#book-btn2{
  border-radius: 35px;
  height: 50px;
  width: 130px;
  background-color: #77a8a8;
  background-size: 20px;
  font-size: 20px;
  color: white;
  margin-top: 24%;

}

#contact-btn{
  border-radius: 35px;
  height: 50px;
  width: 180px;
  background-color: #77a8a8;
  background-size: 20px;
  font-size: 20px;
  color: white;


}
