
#page-nav {
  width: 100%;
  background: #222;

}

/* Hide Hamburger */
#page-nav label, #hamburger {
  display: none;
  background-color: #222;
}

/* Menu Items */
#page-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
}
#page-nav ul li {
  display: inline-block;
  padding: 0px;
  box-sizing: border-box;
}
#page-nav ul li a {
  color: #A0A0A0;
  text-decoration: none;

}

#page-nav ul li a:hover {
  opacity: 0.5;

}

nav{
  margin-bottom: 0%;
}


h2{
  text-align: center;
  margin-top: 10%;

}

p{
  text-align: center;
  padding: 20px;
  font-weight: lighter;
  font-size: 20px;
  max-width: 100%;
  word-wrap: break-word;

}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 90px;
  grid-column-gap: 40px;
  background-color: white;
  padding: 20px;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5%;



}

.grid-container > div {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  font-size: 30px;




}
.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 90px;
  grid-column-gap: 40px;
  background-color: white;
  padding: 20px;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5%;
  max-width: 100%;
  word-wrap: break-word;
  width: 100%;



}

.grid-container2 > div {
  display: grid;
  grid-template-columns: auto;
  background-color: #eeeeee;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  width: auto;
  max-width: 100%;
  word-wrap: break-word;
  width: 100%;
}

.contact {
  margin-top: auto;
}

#book-btn{
  border-radius: 35px;
  background-color: #77a8a8;
  background-size: 20px;
  font-size: 23px;
  color: white;
  padding: 2%;
  max-width: 100%;
  word-wrap: break-word;
  height: 50px;
  width: 100%;
}

#book-btn2{
  border-radius: 35px;
  width: auto;
  background-color: #77a8a8;
  background-size: 20px;
  font-size: 23px;
  color: white;
  padding: 2%;
  max-width: 100%;
  word-wrap: break-word;
  height: 50px;
  width: 100%;
}

#contact-btn{
  border-radius: 35px;
  width: auto;
  background-color: #77a8a8;
  background-size: 20px;
  font-size: 23px;
  color: white;
  max-width: 100%;
  word-wrap: break-word;
  height: 40px;
  width: 30%;

}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
  /* Show Hamburger */
  #page-nav label {
    display: inline-block;
    color: #A0A0A0;
    background: #222;
    font-style: normal;
    font-size: 2em;
    padding: 3px;
    margin-left: 3%;
  }

  /* Break down menu items into vertical */
  #page-nav ul li {
    display: block;


  }
  #page-nav ul li {
    border-top: 2px solid #A0A0A0;

  }

  /* Toggle show/hide menu on checkbox click */

  #page-nav input:checked ~ ul {
    display: block;

  }
  #page-nav ul {
    display: none;
  }

  #page-nav label:hover {
    opacity: 0.7;

}

#page-nav ul li:hover {
    opacity: 0.5;
}
